//side nav icons
i.inverted.circular.grey.icon:hover{
    background-color: red!important;
  }
  i.inverted.circular.grey.icon {
    margin-bottom:15px;
}

//closing button
i.inverted.circular.red.icon:hover{
  background-color: black!important;
}

i.inverted.circular.red.icon {
    margin-bottom:6px;
    position: relative;
    top: 15px;
    left: 330px;
    display:block;
  }

i.small.icon, i.small.icons {
  line-height: 1;
  font-size: 0.85em !important;
}

//Add note icon
i.inverted.circular.black.icon:hover {
  background-color: red!important;
}

i.inverted.circular.black.icon {
  margin-right: 8px;
}



  
